<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fitgram</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconCitrusWhite</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconCitrusWhite</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCitrusWhiteSoft</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconCitrusWhiteSoft</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDaylightLime</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconDaylightLime</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGraphiteLime</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconGraphiteLime</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGraphiteLimeInverted</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconGraphiteLimeInverted</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMatchaCeramic</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconMatchaCeramic</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNordicBerry</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconNordicBerry</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOceanDay</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconOceanDay</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOceanNight</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconOceanNight</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOceanNightLight</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconOceanNightLight</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPorcelainCoral</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconPorcelainCoral</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>pl</string>
		<string>en</string>
		<string>uk</string>
		<string>ru</string>
		<string>es</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.fitgram.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitgram</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.fitgram.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.849312185535-mlidbn8lrhfdsro4f9t2a1ruuqmucgi3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GOOGLE_OAUTH_CLIENT_ID</key>
	<string>$(GOOGLE_OAUTH_CLIENT_ID)</string>
	<key>IS_PAYMENTS_ENABLED</key>
	<string>$(IS_PAYMENTS_ENABLED)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.healthcare-fitness</string>
	<key>NSCameraUsageDescription</key>
	<string>Fitgram używa aparatu, żeby rozpoznawać Twoje posiłki na zdjęciach.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Fitgram synchronizuje aktywność i wagę z Apple Health.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Fitgram zapisuje posiłki i kalorie w Apple Health.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Fitgram używa mikrofonu do szybkiego dodawania posiłków głosem.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Fitgram zapisuje wygenerowane karty (np. seria) do Twojej biblioteki zdjęć.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fitgram potrzebuje dostępu do zdjęć, aby analizować posiłki z biblioteki.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Fitgram używa rozpoznawania mowy, aby zamienić Twoją wypowiedź w wpis posiłku.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Agbalumo-Regular.ttf</string>
		<string>Archivo-Variable.ttf</string>
		<string>Archivo-Italic-Variable.ttf</string>
		<string>Manrope-Variable.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>BrandBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>WORKER_BASE_URL</key>
	<string>$(WORKER_BASE_URL)</string>
</dict>
</plist>
